@import url("https://fonts.googleapis.com/css?family=PT+Sans");

/*Navigation Bar Design*/
ul{
  list-style: none;;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li{
  float: right;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover{
  background-color: white;
}

/*Footer Design*/
footer{
  padding: 1em;
  color: white;
  background-color: #333;
  clear: left;
  text-align: center;
}
#end li{
  display: block;
  background-color: #333;
}
.social-icons2{
  float: left;
  margin-left: 20px;
}

/*Middle part*/

#sec1{
  height: 550px;
  background-color: white;
  background-image: url(../img/brain.jpg);
}

#wording{
color: white;
font-size: 27px;
position: absolute;
top: 300px;
left: 600px;
}

#Signup{
  background-color: blue;
  color: white;
  width: 200px;
  height: 40px;
  text-align: center;
  font-size: 15px;
  position: absolute;
  top: 400px;
  left: 700px;


}

/*chatroom section*/
/*colum2 */
.whole {
  height: 750px;
  padding: 0;
}

.glyphicon-search {
  color: grey;
  opacity: 0.50;
}

.glyphicon-home {
  font-size: 30px;
  color: grey;
  opacity: 0.50;
  position: absolute;
  top: 22px;
  left: 39px;
}

#psykhe:hover, .glyphicon-search:hover, .glyphicon-home:hover {
  color: #00c4cc;
  cursor: pointer;
}

#psykhe {
  margin-left: 75px;
  color: grey;
  opacity: 0.50;
  font-family: 'PT Sans', sans-serif;
}

#row1 {
  height: 80px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: #ebeced;
}

#form1 {
  float: right;
  margin-top: -45px;
  margin-right: 50px;
}

#search {
  height: 38px;
  width: 276px;
  font-size: 18px;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  border-radius: 5px;
  padding-left: 40px;
  color: grey;
  opacity: 0.50;
}

#btn1 {
  background-color: transparent;
  border-color: transparent;
  position: absolute;
  top: 30px;
  right: 290px;
}

/*index section*/

#index {
  background-color: #3f4652;
  margin: 0;
  height: 810px;
}

.glyphicon-user {
  font-size: 40px;
  color: #fff;
  margin-left: 10px;
}

#profile:hover, .glyphicon-user:hover, #public:hover, .glyphicon-comment:hover, #private:hover, .glyphicon-envelope:hover {
  color: #00c4cc;
  cursor: pointer;
}

#profile {
  color: #fff;
  position: absolute;
  top: 30px;
  left: 50px;
}

#profile2 {
  margin-top: 9px;
  margin-left: 5px;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
}

#public {
  color: #fff;
  position: absolute;
  top: 30px;
  left: 165px;
}

.glyphicon-comment {
  font-size: 40px;
  color: #fff;
  margin-left: 7px;
}

#private {
  color: #fff;
  position: absolute;
  top: 30px;
  left: 270px;
}

.glyphicon-envelope {
  font-size: 40px;
  color: #fff;
  margin-left: 10px;
}

.public2private2 {
  font-family: 'PT Sans', sans-serif
  margin-left: 15px;
}